body {
  font-family: Tahoma;
  background-color: #f7f7f7;
  text-align: center;
}
nav a {
  margin: 10px;
  text-decoration: none;
  color: #007bff;
}
nav a:hover {
  text-decoration: underline;
}
form {
  margin-top: 20px;
}
